@font-face {
    font-family: 'MyFonts'; /* Fontunuzun adı */
    src: url('../../fonts/Roboto_Serif/RobotoSerif-Italic-VariableFont_GRAD\,opsz\,wdth\,wght.ttf') format('ttf');
     font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'MyFonts';
}
.mini-blog .card{
    height: 387px !important;
  }
.about-card-top-img{
    width: 100% !important;
    padding: 0 !important;
}
.blog-card-about{
    height: 371px !important;
}

.about1,
.about2{
justify-content: space-between;
align-items: center;
margin: 2rem 0;
}
.about-all-page{
    align-items: center;
}
.card{
    height: 430px !important;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
}
.card-body{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.main-title{
    font-size: 40px;
    font-weight: bold;
}
.little-desc{
    font-size: 19px;
    font-weight: 600;
}
.blog-link{
    color: #72bc98;
    font-weight: bold;
    transition: 0.5s;
}
.w-100{
    width: 109%;
}
.blog-link:hover{
    color: black;
}

.mini-blog,
.about2{
    margin: 3rem 0;
}
@media screen and (min-width: 364px) and (max-width: 443px) {
    .card-tel {
    height: 471px !important;
    }
    .mini-blog .card {
        height: 465px !important;
      }
  }
  @media screen and (min-width: 443px) and (max-width: 762px) {
    .card {
    height: 490px !important;
    }
    .mini-blog .card {
        height: 465px !important;
      }
  }
  @media screen and (min-width: 763px) and (max-width: 998px) {
    .card {
        height: 307px !important;
    
        }
        .mini-blog .card{
            height: 351px !important;
          }
  }
  
  @media screen and (min-width: 300px) and (max-width: 530px) {
    .card{
        height: 333px !important;
    
        }
        .mini-blog .card {
            height: 465px !important;
          }
        
  }
  @media screen and (max-width: 443px) {
    .card-tel {
      height: 471px !important;
    }
  
    .mini-blog .card {
        height: 465px !important;
      }
  }
  
  @media screen and (min-width: 444px) and (max-width: 762px) {
    .card {
      height: 490px !important;
    }
  
   
  }
  
  @media screen and (min-width: 763px) and (max-width: 998px) {
    .card {
      height: 307px !important;
    }
  
    .mini-blog .card {
        height: 465px !important;
      }
  }
  
  @media screen and (min-width: 300px) and (max-width: 363px) {
    .card {
      height: 333px !important;
    }
  
    .mini-blog .card {
        height: 465px !important;
      }
  }
   
  @media screen and (min-width: 300px) and (max-width: 700px) {

  
    .mini-blog .card {
      height: 465px !important;
    }
  }