.blog-card-title{
    font-size: 14px;
    color: rgb(92, 163, 163) !important;
    
}
.blog-all-page .card{
  height: 340px !important;
}
.blog-card-title.h5{
  font-size: 13px;
}
.detail-blog{
    color: rgb(92, 163, 163) !important;
font-weight: bold;
text-decoration: none;
}
p.card-text{
  font-size: 16px;
}
.card-1{
  height: 318px !important;
    flex-direction: column;
    justify-content: space-between;

}
.nav-links:hover{
    color: #1f5156;
    }
  .blog-all-page .blog-cards-all
    {
    margin-top: 115px !important;

  }
  .error-blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
    .nav-links{
      transition: 0.3s;
    }
    .selected-item:after {
        content: "";
        display: block;
        height: 1px;
        width: 0;
        background: transparent;
        transition: width 0.7s ease, background-color 0.5s ease;
      }
      
      .selected-item:after {
        width: 100%;
        background: #72bc98;
      }
    .nav-links {
        color: #000000;
        text-decoration: none;
        padding: 0.5rem 0;
        height: 100%;
        border-bottom: 3px solid transparent;
      }
.li-tag{
cursor: pointer;
}
.b-0{
    border-radius: 0;
} 
.blog-cards-all .card-body{
display: flex;
font-size: 18px;
font-weight: 400;
color: #000;
}