.blog-card-title{
    font-size: 14px;
    color: rgb(92, 163, 163) !important;
    
}
.filter  ul{
  display: flex;
    flex-wrap: wrap;
}
.blog-all-page .blog-cards-all {
  margin-top: 50px !important;
  align-items: flex-start !important;
}
.blog-all-page .card{
  height: 340px !important;
}
.blog-card-title.h5{
  font-size: 13px;
}
.detail-blog{
    color: rgb(92, 163, 163) !important;
font-weight: bold;
text-decoration: none;
}
p.card-text{
  font-size: 16px;
}
.card-1{
  height: 318px !important;
    flex-direction: column;
    justify-content: space-between;

}
.nav-links:hover{
    color: #1f5156;
    }
  /* .blog-all-page .blog-cards-all
    {
    margin-top: 115px !important;

  } */
  .error-blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
    .nav-links{
      transition: 0.3s;
    }
    .selected-item:after {
        content: "";
        display: block;
        height: 1px;
        width: 0;
        background: transparent;
      }
      
      .selected-item:after {
        width: 100%;
        background: #72bc98;
      }
    .nav-links {
        color: #000000;
        text-decoration: none;
        padding: 0.5rem 0;
        height: 100%;
        border-bottom: 3px solid transparent;
      }
.li-tag{
cursor: pointer;
}
.b-0{
    border-radius: 0;
} 
.blog-cards-all .card-body{
display: flex;
font-size: 18px;
font-weight: 400;
color: #000;
}
@media screen and (min-width: 300px) and (max-width: 590px) {
  .filter{
      margin-left: 50px;
      }
      
}

.blog-all-page {
  padding: 20px;
}

.blog-cards-all {
  align-items: center;
}

.filter {
  margin-bottom: 20px;
  order: 1; 
}

@media screen and (max-width: 992px) {
  .blog-cards-all {
    flex-direction: column-reverse; 
  }

  .filter {
    margin-left: -18px !important;
    order: 2; 
  }

  .card-1 {
    width: 100%; 
  }

  .li-tag {
    margin-top: 0; 
  }
}


@media screen and (max-width: 770px) {
  .blog-cards-all {
    flex-direction: column-reverse; 
  }

  .filter {
    order: 2; 
  }

  .card-1 {
    width: 100%; 
  }

  .li-tag {
    margin-top: 0; 
  }
  .blog-all-page .d-flex{
    justify-content: center !important;
  }
}

