p.news-header{
    color: #383838;
    font-family: Roboto,sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 13px;
    letter-spacing: .1em;
    font-weight: 700;
}

.btn2{
    padding-top: 1px !important;
}
input{
    padding: 3px 0 7px 0;
}

::placeholder{
    padding: 2px 1px;

}
.App{
    margin: 30px auto;
}
.inp-for-news-letter{
    padding-bottom: 6px !important;
    /* padding: 2px 1px; */

    border: 1px solid #dcdcdc;
}
.inp-for-news-letter ::placeholder{
    padding-left: 6px;
}
.all-news{
    align-items: center;
    
}
.col-lg-6{
    width: 54%;
}
.news-part{
    background-color: #F9FAFC;
    padding: 2rem 0;
}
.all-news form{
    width: 100%;
    align-items: center;
    display: flex;
}
@media only screen and (min-width: 300px) and (max-width: 770px) {
    .second-div {
      margin-top: 10px;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 768px) {
  .all-news{
    flex-direction: column;
  }
  .all-news form button{
    /* flex-direction: column; */
    width: 30% !important;
  }
}
@media only screen and (min-width: 401px) and (max-width: 456px) {
  
    .all-news form button{
   padding: 9px 11px !important;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 400px) {
  .all-news form{
    flex-direction: column !important;

  }
  .all-news input{
    display: block !important;
  }
    .all-news form button{
  display: block !important;
  width: 60% !important;
  padding: 9px 11px !important;

    }
  }