.card-product-img{
    margin: 2px auto;
    text-align: center;
    object-fit: fill;
    width: 180px;
    position: relative;
    height: 236px;
}
.card-1:hover .card-icons{
bottom: 200px;
opacity: 1;
}
.card-1{
    height: 24rem !important;
}
.blog-card-title{
    position: relative;
}
/* .card-1 span{
    position: absolute;
} */
.card-icons{
    display: flex;
    bottom: 103px;
    left: 50%;
transition: 0.3s;
opacity: 0;
    transform: translate(-50%);
    justify-content: space-between;
    position: absolute;
}
.card-icons .i{
    background-color: #72bc98 !important;
margin: 0 4px;
color: white;
padding: 2px 4px;
font-weight: bold;
padding: 5px 8px;
    font-size: 32px;
    transition: 0.3s;
}

.all-shop-f{
    justify-content: space-between;
    margin-top: 50px !important;
}
.card-icons .i:hover{
   color: #72bc98 !important;
background-color: white !important;
border: 1px solid #72bc98 !important;
}
.card-body{
    padding: 7px !important;
    font-size: 16px;
}
.card{
    border: 1px solid rgb(240, 240, 240) !important;
    border-radius: 0px !important;
    height: 365px !important;
}
button.filter-btn{
    border: none;
    background-color: #72bc98;
    color: white;
    margin: 13px auto;
    border-radius: 7px;
 border: 1px solid white;
    padding: 2px 40px;
    transition: 0.5s;
}
button.filter-btn:hover{
    background-color: white;
    color: #72bc98;
 border: 1px solid #72bc98;

}
.d-flex all-shop-f{
    margin-top: 5px;
}
    .card-img, .card-img-top {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border: 0 !important;
    }
    .card-img, .card-img-top, .card-img-bottom {
        width: 100%;
        margin:0 !important;
    }
    .card-img-top.card-product-img {
        width: 90% !important;
        margin: 5px auto !important;
    }
    .pageIndex{
  color: #72bc98;
   border: 1px solid #72bc98;
   padding: 6px 8px;
   background-color: white;
    }
    .selected-page{
        background-color: #72bc98;
        color: white;
        font-weight:bold ;
    }
    .m-10-auto{
        margin: 10px auto;

    }