.navbar {
  /* background-color: ; */
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999999999999920;
  background-color: white;
  position: fixed !important;
    width: 100% !important;
}
.nav-links:hover{
color: #1f5156;
}
.nav-links{
  transition: 0.3s;
}
.nav-menu{
  margin-bottom: 0 !important;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  width: 94%;
  height: 80px;
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
  margin-top: -12px;
}
.nav-logo img{
width: 96px;

}
.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-menu2{
  margin-top: -16px;

}
.nav-links {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 0;
  height: 100%;
  border-bottom: 3px solid transparent;
}
/* .fa-code {
  margin-left: 1rem;
} */

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
  font-size: 18px;
}

.nav-item:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #72bc98;
}
li.icon{
  align-items: center;
  font-size: 21px;
transform: 1.2s;

}
li.icon1{
  margin-right: 6px;
  position: relative;
}
li.icon1:hover ul.list-account{
display: block;
}
ul.list-account{
  font-size: 13px;
  width: 113px;
  top: 29px;
  display: none;
  transition: 1s;
  right: -2px;
  position: absolute;
  list-style-type: none;
  
}
ul.list-account li{
  border: 1px solid #72bc98;
color: #72bc98;
padding: 4px 6px;
transition: 0.5s;
}
ul.list-account li:hover{
  border: 1px solid #72bc98;
  background-color: #72bc98;
color: white;
padding: 4px 6px;
}
li.icon:hover{
color: #72bc98;
}
.card-basket{
  position: relative;
}
.count-cart{
  border-radius: 50%;
  background-color: #1f5156;
  top: 16px;
  font-size: 12px;
  padding: 2px 7px;
  position: absolute;
  right: 24px;
  color:white;
}
.nav-item .active {
  color: #72bc98;
}

.nav-icon {
  display: none;
  color: #f5b921;
}

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  
.count-cart{
  width: 5%;
  top: 61px;
  font-size: 10px;
  padding: 2px 7px;
  position: absolute;
  left: 54%;
}
  .nav-menu.active {
    background: #fff;
    left: 0px;
    top: 120px;
    width: 104%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99999999999999;
  }
  ul.list-account{
    top: 25px;
    display: none;
    transition: 1s;
    right: 34%;
  }
  .nav-item .active {
    color: #99FCCC;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #99FCCC;
  }
}